Proyecto/src/test/es/uvigo/esei/dai/hybridserver/week11/files/dataset.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT dataset (HTML+,XML+,XSD+,XSLT+)>
<!ELEMENT HTML EMPTY>
<!ATTLIST HTML
	uuid CDATA #REQUIRED
	content CDATA #REQUIRED
>
<!ELEMENT XML EMPTY>
<!ATTLIST XML
	uuid CDATA #REQUIRED
	content CDATA #REQUIRED
>
<!ELEMENT XSD EMPTY>
<!ATTLIST XSD
	uuid CDATA #REQUIRED
	content CDATA #REQUIRED
>
<!ELEMENT XSLT EMPTY>
<!ATTLIST XSLT
	uuid CDATA #REQUIRED
	xsd CDATA #REQUIRED
	content CDATA #REQUIRED
>