Proyecto/src/test/es/uvigo/esei/dai/hybridserver/week11/files/sample1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.esei.uvigo.es/dai/proyecto"
	xmlns:tns="http://www.esei.uvigo.es/dai/proyecto"
	elementFormDefault="qualified">
	<element name="people">
		<complexType>
			<sequence>
				<element name="person2">
					<complexType>
						<sequence>
							<element name="name" type="string" minOccurs="1"
								maxOccurs="1" />
						</sequence>
						<attribute name="dni" type="string" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>